<div class="welcome-container">
    <!-- Left Section: 70% Background Image with Welcome Text -->
    <div class="left-section">
        <h1 class="display-4 text-white">Welcome to Task Management App</h1>
        <p class="lead text-white">Manage your tasks and collaborate with your
            team.</p>
    </div>

    <!-- Right Section: 30% with Buttons -->
    <div class="right-section">
        <div class="container text-center">
            <div class="btn-group d-flex flex-column justify-content-center">
                <a class="btn btn-primary btn-lg mb-3"
                    routerLink="/login">Login</a>
                <p class="text-white">Do you have an account?</p>
                <a class="btn btn-secondary btn-sm" routerLink="/signup">Sign
                    Up</a>
            </div>
        </div>
    </div>
</div>
