 <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-white" href="#">Task
            Management App</a>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                        routerLink="/main">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                        routerLink="/task-list/:id">Tasks</a>
                </li>

            </ul>
            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle"
                        type="button"
                        id="userDropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Welcome, {{ userName }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="userDropdown">
                        <li><button class="dropdown-item text-danger"
                                (click)="navigateToWelcome()">Logout</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav> -->