 <div class="container-fluid mt-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold text-white" href="#">Task
                Management</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/main">Home</a>
                    </li>

                </ul>
                <div class="d-flex align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle"
                            type="button"
                            id="userDropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ userName }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="userDropdown">
                            <li><button class="dropdown-item text-danger"
                                    (click)="navigateToWelcome()">Logout</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="card p-4 my-4">
        <h4 class="text-center">Project List</h4>

        <table class="table table-bordered table-striped mt-4">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Project Manager</th>
                    <th>Team Member</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Due Days</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="projects.length > 0">
                    <tr *ngFor="let project of projects" class="text-center">
                        <td
                            (click)="navigateToaddtask(project.id)">{{
                            project.title }}</td>
                        <td
                            (click)="navigateToaddtask(project.id)">{{
                            project.description }}</td>
                        <td
                            (click)="navigateToaddtask(project.id)">{{
                            project.createdBy }}</td>
                        <td
                            (click)="navigateToaddtask(project.id)">{{
                            project.manager }}</td>
                        <td
                            (click)="navigateToaddtask(project.id)">{{
                            project.teamMembers }}</td>
                        <td
                            (click)="navigateToaddtask(project.id)">{{
                            project.startDate }}</td>
                        <td
                            (click)="navigateToaddtask(project.id)">{{
                            project.endDate }}</td>
                        <td>{{ getProjectDueDays(project.endDate) }} days</td>

                        <td>
                            <div
                                class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <button class="btn btn-primary btn-sm"
                                    (click)="viewProject(project)">Edit</button>
                                <button class="btn btn-danger btn-sm"
                                    (click)="deleteProject(project.id)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <tr *ngIf="projects.length == 0">
                    <td colspan="8">
                        <h6 class="text-center">Curruntly no data
                            available</h6>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-success"
                (click)="navigateToDashboard()">Create
                Project</button>
        </div>

    </div>

    <!-- Create Project Button -->

</div>
